[submodule "am-kernels"]
	path = am-kernels
	url = git@github.com:ETOgaosion/am-kernels.git
[submodule "fceux-am"]
	path = fceux-am
	url = git@github.com:ETOgaosion/fceux-am.git
[submodule "nemu/tools/spike-diff/repo"]
	path = nemu/tools/spike-diff/repo
	url = git@github.com:NJU-ProjectN/riscv-isa-sim
[submodule "navy-apps"]
	path = navy-apps
	url = git@github.com:ETOgaosion/navy-apps.git
